@import "trigonometry";

//////////////////////////////////////////////////////////////////
//////////////////////////// MAIN ////////////////////////////////
//////////////////////////////////////////////////////////////////

$textColor: white;
$btnBgColor: white;
$outerCircleColor: white;
$outerCircleBorder: white;
$innerCircleColor: white;

body {
    font-family: 'Ubuntu', sans-serif;
    color: $textColor;
    overflow: hidden;
}
svg {
    fill: $textColor;
}

header {
    padding: 1em;
}
header .location {
    font-size: 2em;
}

aside {
    overflow: hidden;
    width: 100%;
}

button {
    color: $textColor;
    margin: 1em;
    $buttonSize: 4em;
    width: $buttonSize;
    height: $buttonSize;
    border-radius: ($buttonSize / 2);
    border: none;
    background-color: $btnBgColor;
    position: relative;
    right: -6em;
    box-shadow: 0 6px 6px 2px rgba(0, 0, 0, 0.2);
}
button:focus {
    outline: none;
}
button:active {
    box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.2);
}

$circleSize: 500px;
.main-circle {
    height: $circleSize;
    width: $circleSize;
    border-radius: ($circleSize / 2);
    position: absolute;
    left: (- $circleSize / 3);
    top: ($circleSize / 3);
}

.outer-circle {
    box-sizing: border-box;
    height: $circleSize;
    width: $circleSize;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $outerCircleColor;
    border-style: solid;
    border-width: 2px;
    border-color: $outerCircleBorder;
}

.inner-circle1 {
    $size: 82%;
    height: $size;
    width: $size;
    border-radius: 50%;
    position: absolute;
    $offset: (100% - $size) / 2;
    left: $offset;
    top: $offset;
    background-color: $innerCircleColor;
}

.inner-circle2 {
    $size: 94%;
    height: $size;
    width: $size;
    border-radius: 50%;
    position: absolute;
    $offset: (100% - $size) / 2;
    left: $offset;
    top: $offset;
    background-color: $innerCircleColor;
}

.content-circle {
    $size: 95%;
    height: $size;
    width: $size;
    border-radius: 50%;
    $offset: (100% - $size) / 2;
    left: $offset;
    top: $offset;
    position: absolute;

    box-sizing: border-box;
    border: 2px solid $outerCircleBorder;
}

$divTimeBorder: 2px;
$divTimePadding: 10px;
$divTimeSize: 50px - 2 * ($divTimeBorder + $divTimePadding);
.div-time {
    position: absolute;
    padding: $divTimePadding;
    height: $divTimeSize;
    width: $divTimeSize;
    border-radius: 50%;

    background-color: $btnBgColor;
    border: $divTimeBorder solid $textColor;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hour-icon {
    width: $divTimeSize;
    height: $divTimeSize;
}

.hour-content {
    position: absolute;
    top: 0;
    left: 130%;
}


.content div {
    text-align: right;
}

.main-wind-description {
    padding-left: .3em;
}

.main-text {
    margin-right: 1.5em;
    font-size: 1.5em;
}

.inline-block {
    display: inline-block;
}

.br {
    border: 1px solid red;
}

.bgImgContainer {
    overflow: hidden;
    position: absolute;
    z-index: -10;
    $blurFactor: 5px;
    $size: calc(100% + #{($blurFactor * 2)});
    width: $size;
    height: $size;
    left: #{-$blurFactor};
    top: #{-$blurFactor};
    filter: blur(5px);
}