$textColor: white;
$btnBgColor: white;
$outerCircleColor: white;
$outerCircleBorder: white;
$innerCircleColor: white;
$shadowColor: rgba(0, 0, 0, 0.2);

 

body {
    font-family: 'Ubuntu', sans-serif;
    color: $textColor;
    overflow: hidden;
}

svg {
    fill: $textColor;
}

header {
    padding: 1em;

    .location {
        font-size: 2em;
    }
}

aside {
    overflow: hidden;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1.5em;
    padding: .5em;
    color: $textColor;
}

a {
    color: $textColor;
}

a:visited {
    color: $textColor;
}





//////////////////////////////////////////////////////////////////
//////////////////////////// BUTTTON /////////////////////////////
//////////////////////////////////////////////////////////////////

$btnShadow: 6px;
button {
    $btnSize: 4em;
    width: $btnSize;
    height: $btnSize;
    border-radius: 50%;

    border: none;
    margin: 1em;
    position: relative;

    color: $textColor;
    background-color: $btnBgColor;
    box-shadow: 0 $btnShadow $btnShadow 2px $shadowColor;
}
button:focus {
    outline: none;
}
button:active {
    box-shadow: 0 ($btnShadow / 2) ($btnShadow / 2) 2px $shadowColor;
}






//////////////////////////////////////////////////////////////////
//////////////////////// BIG CIRCLE //////////////////////////////
//////////////////////////////////////////////////////////////////

$circleSize: 500px;

.outer-circle {
    height: $circleSize;
    width: $circleSize;
    border-radius: 50%;

    position: absolute;
    left: - $circleSize / 3;
    top: $circleSize / 3;

    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;

    border-color: $outerCircleBorder;
    background-color: $outerCircleColor;
}

.inner-circle1 {
    $size: 82%;
    height: $size;
    width: $size;
    border-radius: 50%;

    $offset: (100% - $size) / 2;
    position: absolute;
    left: $offset;
    top: $offset;

    background-color: $innerCircleColor;
}

.inner-circle2 {
    $size: 94%;
    height: $size;
    width: $size;
    border-radius: 50%;

    $offset: (100% - $size) / 2;
    position: absolute;
    left: $offset;
    top: $offset;

    background-color: $innerCircleColor;
}

.content-circle {
    $size: 95%;
    height: $size;
    width: $size;
    border-radius: 50%;

    $offset: (100% - $size) / 2;
    position: absolute;
    left: $offset;
    top: $offset;

    box-sizing: border-box;

    border: 2px solid $outerCircleBorder;
}






//////////////////////////////////////////////////////////////////
////////////////////// SMALL CIRCLES /////////////////////////////
//////////////////////////////////////////////////////////////////

$divTimeBorder: 2px;
$divTimePadding: 10px;
$divTimeSize: 50px - 2 * ($divTimeBorder + $divTimePadding);
.div-time {
    height: $divTimeSize;
    width: $divTimeSize;
    border-radius: 50%;

    position: absolute;
    padding: $divTimePadding;

    background-color: $btnBgColor;
    border: $divTimeBorder solid $textColor;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.hour-icon {
    width: $divTimeSize;
    height: $divTimeSize;
}

.hour-content {
    position: absolute;
    top: 0;
    left: 130%;
}







//////////////////////////////////////////////////////////////////
////////////////////// ??????????    /////////////////////////////
//////////////////////////////////////////////////////////////////

.content div {
    text-align: right;
}

.main-wind-description {
    padding-left: .3em;
}

.main-text {
    margin-right: 1.5em;
    font-size: 1.5em;
}

.inline-block {
    display: inline-block;
}

.bgImgContainer {
    overflow: hidden;
    position: absolute;
    z-index: -10;
    $blurFactor: 5px;
    $size: calc(100% + #{($blurFactor * 2)});
    width: $size;
    height: $size;
    left: #{-$blurFactor};
    top: #{-$blurFactor};
    filter: blur(5px);
}





////////////////////////////////////////////////////////////////
/////////////////////////// LOADER /////////////////////////////
////////////////////////////////////////////////////////////////

.loader-background{
    background-color: #385EB5;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
}

$loadSize: 150px;
.loader-animation {
    width: $loadSize;
    height: $loadSize;
    position: relative;
    top: calc(50% - #{$loadSize} / 2);
    animation: animate 1s infinite ease-in-out;
    margin: auto;
}

.loader-item{
    width: 20px;
    height: 20px;
    background-color: #FFF;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    position: absolute;
}

@for $i from 1 through 5 {
    #loader-item-#{$i} {
        animation:object 2s linear infinite #{-.4 * ($i - 1)}s;
    }
}

@keyframes object{
    0% { left: 100px; top:0}
    80% { left: 0; top:0;}
    85% { left: 0; top: -20px; width: 20px; height: 20px;}
    90% { width: 40px; height: 15px; }
    95% { left: 100px; top: -20px; width: 20px; height: 20px;}
    100% { left: 100px; top:0; }
}

 